:root {
  --max-width: 900px;
  --text-primary: #444444;
  --background-primary: #fffcde;
}

body {
  font-family: sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

.content-wrapper {
  max-width: var(--max-width);
  margin: auto;
}
